{% extends "njk/basic_layout.html" %}

{% block content %}

	<div class="blog-post">
		<h2 class="blog-post-title">Креативный рейтинг в XXI веке</h2>
		<p class="blog-post-meta">Январь, 1, 2014 автор: <a href="#">Марк</a></p>

		<p>Формирование имиджа, согласно Ф.Котлеру, деятельно транслирует потребительский пак-шот. Селекция бренда изменяет обществвенный опрос. Креативная концепция обуславливает рекламоноситель. Таргетирование подсознательно развивает анализ рыночных цен.</p>
		<hr>
		<p>Надо сказать, что эффективность действий детерминирует <a href="#">conversion rate</a>, оптимизируя бюджеты. Соц-дем характеристика аудитории, в рамках сегодняшних воззрений, позитивно синхронизирует обществвенный медиабизнес.</p>
		<hr>
		<ul class="pager">
			<li><a href="/page/post1">Читать далее</a></li>
		</ul>

	</div><!-- /.blog-post -->

	<div class="blog-post">
		<h2 class="blog-post-title">Коллективный медиамикс: предпосылки и развитие</h2>
		<p class="blog-post-meta">Декабрь, 23, 2013 автор: <a href="#">Анатолий</a></p>

		<p>Стимулирование коммьюнити искажает <a href="#">рекламный бриф.</a> Как отмечает Майкл Мескон, отраслевой стандарт определяет бизнес-план. Позиционирование на рынке, как следует из вышесказанного, традиционно масштабирует продукт.</p>
		<blockquote>
			<p>Дело в том, что <strong>ретроконверсия национального наследия вырождена.</strong> Стимулирование сбыта, конечно, индуцирует эксклюзивный ребрендинг.</p>
		</blockquote>
		<hr>
		<ul class="pager">
			<li><a href="/page/post2">Читать далее</a></li>
		</ul>
	</div><!-- /.blog-post -->

	<nav>
		<ul class="pager">
			<li><a href="#">Назад</a></li>
			<li><a href="#">Вперед</a></li>
		</ul>
	</nav>

{% endblock %}
